@model REMS.ViewModels.DeleteViewModel
@{
    ViewBag.Title = "Delete User";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("~/Views/Shared/Partials/ActionStatusPartial.cshtml", Model.ActionStatusMessageViewModel)

@using (Html.BeginForm("DeleteUser", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.Label("Choose a User to Delete", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("UserName", Model.Users, " ")
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Delete" onclick="return confirm('Are you sure?')" />
        </div>
    </div>
}